<!DOCTYPE html>
<html>
<head>
          <meta charset="UTF-8">
          <link rel="stylesheet" href='/static/css/main.css'>
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
          <title>task 3</title>
</head>
 <body>
     <div class ='intro_tsk3'>
          <div class='container_intro'>
              
          </div>
        </div>
        <header class="header">
          <div class ='container'>
              <div class ='header_inner'>
                  <div class="logo">Menu</div>
                  <nav class='nav'>
                      <a class="nav_link" href="task1.html">TASK 1</a>
                      <a class="nav_link" href="task2.html">TASK 2</a>
                      <a class="nav_link" href="task2.5.html">TASK 2.5</a>
                      <a class="nav_link" href="task3.html">TASK 3</a>
                  </nav>
              </div>
          </div>
      </header>
      <div class="container_tsk3">
          <img src="/static/img/3-1.png">
  <p>the lower right corner is empty, which means that there was no such moment when oil was worth a lot and
       gold was worth a little. And there are a lot of dots in the lower left corner, which means that for a
        very long time gold and oil were cheap at the same time. The lower right corner is empty, which means
         that there was no such moment when oil was worth a lot and gold was worth a little</p>
  <p>This shows a direct relationship between the prices of gold and oil.</p>
  <p>Strong deviations from the pattern are economic crises</p>
  <img src="/static/img/3-2.png">
  <p>Here we see a very similar pattern. However, at the interval of 1000 - 1500 of the index, we are seeing a
       rise in gold - a bad economic situation.</p>
  <img src="/static/img/3-3.png">
  <p>Here we see that the higher the index (the better the economy) the less dependent it becomes on the price of oil</p>
  <img src="/static/img/3-4.png">

</div>
 </body>
</html>