<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href='/static/css/main.css'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
        <title>menu</title>
    </head>
 <body>
    <div class ='intro_tsk'>
        <div class='container_intro'>
            
        </div>
    </div>
    <header class="header">
        <div class ='container'>
            <div class ='header_inner'>
                <div class="logo">Menu</div>
                <nav class='nav'>
                    <a class="nav_link" href="task1.html">TASK 1</a>
                    <a class="nav_link" href="task2.html">TASK 2</a>
                    <a class="nav_link" href="task2.5.html">TASK 2.5</a>
                    <a class="nav_link" href="task3.html">TASK 3</a>
                </nav>
            </div>
        </div>
    </header>
    <div class ='table'>
        {% for table in tables %}
                        {{titles[loop.index][8:]}}
                        {{ table|safe }}
        {% endfor %}
    </div>
    <div class="container_values">
    <p>
        Oil Values:
        {{oil_stat}}
    </p>
    <p>
        Gold Values:
        {{gold_stat}}
    </p>
    <p>
        SnP Values:
        {{snp_stat}}
    </p>
    </div>
 </body>
</html>