<!DOCTYPE html>
<html>
 <head>
  <title>Task1</title>
  <style>
   h1 {
    color: green;
    font-family: Arial;
   }
   p {
    color: blue;
    font-size: 19px;
    width: 60%;
   }
  </style>
 </head>
 <body>
  <h1>Menu</h1>
  <img src="/static/img/3-1.png">
  <p>the lower right corner is empty, which means that there was no such moment when oil was worth a lot and
       gold was worth a little. And there are a lot of dots in the lower left corner, which means that for a
        very long time gold and oil were cheap at the same time. The lower right corner is empty, which means
         that there was no such moment when oil was worth a lot and gold was worth a little</p>
  <p>This shows a direct relationship between the prices of gold and oil.</p>
  <p>Strong deviations from the pattern are economic crises</p>
  <img src="/static/img/3-2.png">
  <p>Here we see a very similar pattern. However, at the interval of 1000 - 1500 of the index, we are seeing a
       rise in gold - a bad economic situation.</p>
  <img src="/static/img/3-3.png">
  <p>Here we see that the higher the index (the better the economy) the less dependent it becomes on the price of oil</p>
  <img src="/static/img/3-4.png">
  <p></p>
  <a href="task1.html">task1</a>
  <a href="task2.html">task2</a>
  <a href="task2.5.html">task2.5</a>

 </body>
</html>