<!DOCTYPE html>
<html>
 <head>
  <title>Task1</title>
  <style>
   h1 {
    color: green;
    font-family: Arial;
   }
   p {
    color: blue;
    font-size: 19px;
    width: 60%;
   }
  </style>
 </head>
 <body>
  <h1>Menu</h1>
  <img src="/static/img/2.5-1.png">
  <p>The first thing you can see here and immediately refute my assumption is that the price of gold has reverse trends
       to the index. When the index falls, the price of gold rises. For example, this can be seen during the crisis in 2008 - 2011.</p>
  <img src="/static/img/2.5-2.png">
  <p>Because gold is the most reserve asset of all. When people stop believing in stocks or money, they invest in gold.
       This is a classic addiction: the market is down, gold is up</p>
  <img src="/static/img/2.5-3.png">
  <p>in 2007, we see a jump in oil prices during the same period, the index value rises strongly. However, in 2011 - 2014, the
       index is growing despite the fact that the price of oil remains unchanged, which means that the price of oil by this time is not so much affecting the US economy¶</p>
  <p>Moreover, it is interesting that in 2020 we see a drop in both the index and prices for all resources, which is an exception
       for gold. The black swan - when no one knew what was going on and people didn't know where to invest money¶</p>
  <a href="task1.html">task1</a>
  <a href="task2.html">task2</a>
  <a href="task3.html">task3</a>

 </body>
</html>