<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/css/main.css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <title>task 2</title>
</head>
 <body>
  <div class ='intro_tsk2'>
    <div class='container_intro'>
        
    </div>
  </div>
  <header class="header">
    <div class ='container'>
        <div class ='header_inner'>
            <div class="logo">Menu</div>
            <nav class='nav'>
                <a class="nav_link" href="task1.html">TASK 1</a>
                <a class="nav_link" href="task2.html">TASK 2</a>
                <a class="nav_link" href="task2.5.html">TASK 2.5</a>
                <a class="nav_link" href="task3.html">TASK 3</a>
            </nav>
        </div>
    </div>
</header>
  <div class='container_tsk2'>
  <img src="/static/img/2-1.png">
  <p>fluctuations index S&P
    on this graph, you can see the economic crises of the United States 
    (where the index is falling sharply), for example, after stable growth 
    since 2011, in 2020, you can see the crisis due to the coronavirus</p>
  <img src="/static/img/2-2.png">
  <p>you can see fluctuations in the price of oil occurring due to economic
       crises and the development of technology</p>
    <p>However, it is impossible to see something very interesting from individual graphs, so in the paragraph
         '2.5 or 3 - 0.5' I will compare these graphs. Now I want to put forward a few assumptions in order to confirm or refute them in the future</p>
    <p>1) The trends for the increase in gold, oil and the SnP index will coincide</p>
    <p>2) The trends for the increase in gold and the SnP index will coincide</p>
  </div>
 </body>
</html>